* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:#262626;
  background-color: #e7f3f9;
}
body {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 40px 0px;
}
h1 {
    font-size: 2em;
    margin-bottom: 50px;
    font-weight: 400;
}
a {
  margin-right: 10px;
  text-decoration: none;
  color: #0000EE;
}
a:hover {
  text-decoration: underline;
}
.emoji {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
.section {
  margin-bottom: 30px;
}
.role {
  font-size: 1.5em; 
}
.subtitle {
  margin-bottom: 5px;
  color: #696969;
  font-size: 1em;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(8deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ocean {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width:fit-content;
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}

.wave {
  width: 200%;
  animation-name: swell;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  fill: #91B2C7;
}

@keyframes swell {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
